/* Copyright (c) 2012, Code Aurora Forum. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	i2c@f9923000{
		mms100s_rev_b@48 {
			melfas,product = "I2S45B";
			melfas,max-x = <480>;
			melfas,max-y = <800>;
                        melfas,use_vdd_i2c = <1>;
			melfas,gpio-vdd-en = <62>;
			melfas,key-map = <158 139>;
			vdd_int-supply = <&pm8110_l8>;		
			melfas,fw-image-name = "melfas/w5_trf_us/w5_trf_us_rev_b_v101.mfsb";
			
			status = "ok";
			revision = "rev_b";
		};
		
		mms100s@48 {
			melfas,product = "I2S45B";
			melfas,max-x = <480>;
			melfas,max-y = <800>;
                        melfas,use_vdd_i2c = <1>;
			melfas,gpio-vdd-en = <82>;
			melfas,key-map = <158 139>;
			melfas,fw-image-name = "melfas/w5_trf_us/w5_trf_us_rev_b_v101.mfsb";	
			status = "ok";
			revision = "rev_a","rev_c";
		};

		
		synaptics_red@20 {
			status = "disable";
			revision = "rev_d...";
			synaptics,button-map = <158 139>;
			synaptics,gpio_vdd_en  = <82>;
		};
		
		synaptics_s220x@20 {
			status = "ok";
			revision = "rev_d...";
			synaptics,fw_version_info = <0x32 0x04 0x51>;
			lge,knock_on_type = <1>;
			synaptics,fw_image = "synaptics/w5_trf_us/PLG317-V1.14-PR1600582-DS4.3.5.1.16_3204518E.img";
			synaptics,panel_spec = "synaptics/w5_trf_us/w5_trf_us_limit.txt";
			synaptics,global_access_pixel = <10>;
			synaptics,platform_data	{
				/* maker_id disable(0), enable(1) */
				maker_id = <0>;
				number_of_button = <2>;
				button_name = [9e 8b];
				x_max = <960>;
				y_max = <1600>;
				lcd_x = <480>;
				lcd_y = <800>;
				gpio_vdd_en = <82>;
				use_vio_regulator = <1>;
				palm_detect_mode=<1>;
				ghost_detection_enable=<0>;
				ghost_detection_value = <200 5 4 6 5 5 10 500 100 6 5>;
			};
		};
	};
};
