/* Copyright (c) 2013, LGE Electronics. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	gpio_keys {
		vol_up {
			gpios = <&msmgpio 106 0x1>;
		};

		vol_down {
			gpios = <&msmgpio 107 0x1>;
		};

		home {
			unused;
		};

		quick_clip {
			unused;
		};
	};

	i2c@f9927000 { /* BLSP1 QUP5 */
		lge_touch_incell@34 {
			status = "ok";
			revision = "rev_a...rev_b";
		};

		lge_touch_incell_rev10@34 {
			status = "ok";
			revision = "rev_10...";
		};
	};
};
